{% extends 'DbaAdminBundle::base.html.twig' %}
{% import "DbaAdminBundle::generator/macros.html.twig" as helper %}

{% block body %}
  <h1>{{ map.name }}</h1>
  <div class="text-center">
    <img src="{{ asset(imagePath) }}" />
  </div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    DbaAdmin.imageGenerator();
  </script>
{% endblock %}
