
a:hover,
#contenu a:hover,
#content a:hover {
  text-decoration: underline;
}

a {
  outline: none;
}

body {
  background-attachment: fixed;
  background-repeat: repeat-x;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 12px;
}
.list-group {
  margin-bottom: 0;
}

.list-group-item {
  border: none;
  background: none;
  width: 95%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10px;
  .badge {
    background: #222;
  }
}

.progress {
  height: 10px;
  margin-bottom: 5px;
}

.player-info .submenu ul {
  padding: 0;
  li {
    padding: 0 !important;
    text-transform: none !important;
  }
}

#footer {
  height: 25px;
  line-height: 25px;
  text-align: center;
}

#content {
  width: 670px;
  margin: 0 15px 0 195px;
  .title {
    background-repeat: no-repeat;
    border: thin solid transparent;
    border-bottom: none;
    margin: -9px;
    min-height: 55px;
    padding: 55px 10px 0;
    position: relative;
    text-indent: -5000px;
    height: 45px;
    &.title-default {
      text-align:center;
      text-indent:0px;
      font-size: 20px;
      font-variant: small-caps;
      font-weight: bolder;
      letter-spacing: 2px;
      margin-bottom: 5px;
      padding-top: 15px;
    }
  }
  .subtitle {
    background-repeat: no-repeat;
    margin: 0;
    min-height: 32px;
    padding-top: 7px;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .body {
    padding: 0 20px;
    position: relative;
    display: table;
    width:100%;
  }
}

.friend {
  color: green;
  background: transparent;
  font-weight: bold;
}

.enemy {
  color: orange;
  background: transparent;
  font-weight: bold;
}

.admin {
  color: green;
  background: transparent;
}

.modo {
  color: #66CC33;
  background: transparent;
}

.deleted {
  color: #CC3399;
  background: transparent;
}

.guest {
  color: #6666CC;
  background: transparent;
}

.banned {
  color: darkred;
  background: transparent;
}

.guild {
  color: #FFCC33;
  background: black;
  font-size: larger;
}

.saiyajin {color: #ffdf9b;}
.human {color: #c0e4f2;}
.human-saiyajin {color: #0b9284;}
.namekian {color: #aff874 ;}
.dragon {color: #996633;}
.alien {color: #8c3bae;}
.cyborg {color: #523698;}
.majin {color: #c2229b;}
.npc {color: #336699;}
.bad {color: #bd0202;}
.good {color: blue;}

.list-dots {
  list-style-position: inside;
  padding-left:10px;
  .active {
    font-weight:bold;
  }
  .sep {
    list-style:none;
    height: 10px;
  }
}

.table-apparence {
  margin: 0 auto;
}
